.App {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.query {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color {
  text-align: center;
}

.color__block {
  width: 100%;
  height: 360px;
  border-radius: 3px;
}

.icon {
  width: 30px;
}

.icon-heart.saved {
  color: red;
}
